/*common css file*/

/*colorful text*/
.txt-green{
    color:#39ac93;
}
.text{
    border:1px solid;
    padding: 1px 5px;
}
.text-green{
    color:green;
    border-color: green;
}
.text-blue{
    color:blue;
    border-color: blue;
}
.text-orange{
    color:orange;
    border-color: orange;
}

/*buttons*/
.button-group{
    margin: 10px 0 0 0;
    overflow: hidden;
}
.button-group button{
    float: left;
}
.button{
    padding: 5px 25px;
    /*background: transparent;*/
    border: transparent;
    margin: 0 5px 0 5px ;
}
.button-small{
    padding: 3px 12px;
}
.button-radius{
    border-radius: 20px;
}
.button-bordered{
    border:1px solid #FFF;
}
.button-success{
    color:#fff;
    background:#00ae66 ;
}
.button-default{
    background: #fff;
    border: 1px solid #ccc;
}
.button-dark{
    background: rgba(0,0,0,.4);
}




/*links*/
.links{
    background: none;
    border:none;
    line-height: 1.2;
    padding: 0;
}




/*icons*/
.icons{
    width: 50px;
    height: 50px;
    background-size:100%;
    display: block;
    padding-top: 50px;
    color:#000;
}

/**/
.options{
    color:#fff;
    vertical-align: middle;
}







